<!DOCTYPE html>
<html lang="en">
<head>
	<title>Express框架示例代码</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-datetimepicker.min.css" />
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>变量渲染示例</h1>
	<p>用户名：<%= username %></p>
    <h1>条件渲染</h1>
    <% if (username != "嘤菜鸡" ) { %>
        <p>用户<%= username %>不是嘤菜鸡</p>
    <% } else { %>
        <p>用户<%= username %>是嘤菜鸡</p>
    <% } %>
</body>
</html>